{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx"] }
        ],
        "max-len": [
            1,
            400,
            2, {
                "ignoreComments": true
            }
        ],
        "class-methods-use-this": 0,
        "global-require": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/forbid-prop-types": 0,
        "no-restricted-syntax": [0, "BinaryExpression[operator='forOfStatement']"],
        "no-underscore-dangle": 0
    }
}
