// $width: 100%;
.home{
  width: 100%;
  position: relative;
  padding: 48px 0px;
  // background: #000;
  .hit{
    width: calc(100% - 24px);
    position: relative;
    max-width: 1146px;
    margin: auto;
    overflow: hidden;
    .paddingBottom{
      width: 100%;
      position: relative;
      padding-bottom: 50%;
    }
    .hit-number3{
      transition: 0.5s ease;
      position: absolute;
      top: 50%;
      left: 100%;
      bottom: 0;
      right: -33.3333%;
      // background: rgba(0,0,0,.4);
    }

    .hit-number2{
      transition: 0.5s ease;
      position: absolute;
      top: 50%;
      left: 66.6666%;
      bottom: 0;
      right: 0;
      // background: rgba(0,0,0,.3);
    }

    .hit-number1{
      transition: 0.5s ease;
      position: absolute;
      top: 0;
      left: 66.666%;
      bottom: 50%;
      right: 0;
      // background: rgba(0,0,0,.2);
    }

    .hit-number0{
      transition: 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 33.33333%;
      z-index: 1;
      // background: rgba(0,0,0,.1);
    }

    .hit-moveout{
      transition: 0.5s ease;
      position: absolute;
      top: 0;
      left: -66.6666%;
      bottom: 0;
      right: 100%;
      // background: rgba(0,0,0,.5);
    }
  }
}
