.itemBox{
  max-width: 1170px;
  margin: auto;
  h3{
    padding: 48px 12px 12px 12px;
    .more{
      float: right;
    }
  }
  .itemList{
    width: 100%;
    position: relative;
    display: flex;
    .item{
      flex: 3;
      padding: 12px;
      position: relative;
      .paddingBottom{
        width: 100%;
        padding-bottom: 60%;
        background-color: #252525;
      }
      .itemContent{
        background: #fff;
        padding: 12px;
        .itemInfo{
          margin: 12px 0px 0px 0px;
          .date, .tag{
            font-size: 12px;
            float: right;
            color: #999;
          }
          .tag{
            float: left;
          }
        }
      }
    }
  }
}
